In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.Series()

Series([], dtype: object)

In [6]:
pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])   ## For dataframe we use nested list

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
df=pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]],index=['r1','r2','r3'],columns=['c1','c2','c3'])
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [11]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],['r1','r2','r3'],['c1','c2','c3'])
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [13]:
df.index=['r4','r5','r6']
df

    c1  c2  c3
r4   1   2   3
r5   4   5   6
r6   7   8   9

In [14]:
df.columns=['c4','c5','c6']
df

    c4  c5  c6
r4   1   2   3
r5   4   5   6
r6   7   8   9

In [15]:
df.index

Index(['r4', 'r5', 'r6'], dtype='object')

In [16]:
df.columns

Index(['c4', 'c5', 'c6'], dtype='object')

In [18]:
df.dtypes

c4    int64
c5    int64
c6    int64
dtype: object

## Creating dataframe using numpy array

In [20]:
dataframe = pd.DataFrame(np.random.randn(4,5),['r1','r2','r3','r4'],['c1','c2','c3','c4','c5'])
dataframe

          c1        c2        c3        c4        c5
r1 -1.046847  0.465048 -0.723561 -0.497281 -1.303129
r2  0.282726  1.125463  0.374702  0.891066 -0.660486
r3 -0.794841 -0.652577 -0.167717 -0.435043 -0.181232
r4  1.641925 -0.491641  0.746792  2.166898 -0.642192

## Creating dataframe using dict

In [22]:
df2=pd.DataFrame({'Brand':['Samsung','apple','realme','vivo'],'camera':[10,20,50,60],'Price':[10000,20000,12000,21000]})
df2

     Brand  camera  Price
0  Samsung      10  10000
1    apple      20  20000
2   realme      50  12000
3     vivo      60  21000

In [23]:
df2.dtypes

Brand     object
camera     int64
Price      int64
dtype: object