In [1]:
import numpy as np
import pandas as pd

Q1. Display first 5 records of the dataframe

In [2]:
df = df=pd.read_csv('googleplaystore1.csv')

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

Q2. Category with highest number of apps registered

In [4]:
df['Category'].value_counts().index[0]

'FAMILY'

Q3. What is the average ratings for all the apps?

In [5]:
df.Rating.mean()

4.193338315362443

Q4. Total numbers of apps which even supports Android version 2.3 and up

In [6]:
df[df["Android Ver"]=="2.3 and up"].shape[0]

652

Q5. Impute the missing values available in Rating column with respective measure of central tendency

In [7]:
df['Rating'].isnull().sum()

1474

In [8]:
df['Rating'].mean()

4.193338315362443

In [9]:
df['Rating']=df['Rating'].fillna(df['Rating'].mean())

In [10]:
df['Rating'].isnull().sum()

0

# Salaries Exercise

Refer to the Salaries.xlsx file and perform the follwing

Q1. Read to the Salaries.xlsx file and perform the following task

In [11]:
import numpy as np
import pandas as pd

In [12]:
df2 = pd.read_excel('Salaries.xlsx')
# df2

Q2. Check the head of the DataFrame

In [13]:
df2.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Q3. Use the .info()method to find out how many entries there are.

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1000 non-null   int64
 1   EmployeeName      1000 non-null   object
 2   JobTitle          1000 non-null   object
 3   BasePay           1000 non-null   float64
 4   OvertimePay       1000 non-null   float64
 5   OtherPay          1000 non-null   float64
 6   Benefits          0 non-null      float64
 7   TotalPay          1000 non-null   float64
 8   TotalPayBenefits  1000 non-null   float64
 9   Year              1000 non-null   int64
 10  Notes             0 non-null      float64
 11  Agency            1000 non-null   object
 12  Status            0 non-null      float64
dtypes: float64(8), int64(2), object(3)
memory usage: 101.7+ KB

Q4.What is the average BasePay?

In [15]:
df2.BasePay.mean()

145663.9982

Q5.What is the highest amount of OvertimePay in the dataset?

In [16]:
df2.OvertimePay.max()

245131.88

Q6. What is the job title of JOSEPH DRISCOLL?

In [17]:
df2[df2["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

Q7. How much does JOSEPH DRISCOLL make(including benifits)?

In [18]:
df2[df2["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

Q8. How many unique jpb title are there?

In [19]:
df2['JobTitle'].nunique()

113

Q9. What are the top 5 most common job?

In [20]:
df2["JobTitle"].value_counts()

JobTitle
FIREFIGHTER                                          133
LIEUTENANT, FIRE DEPARTMENT                           62
FIRE FIGHTER PARAMEDIC                                43
CAPTAIN, FIRE SUPPRESSION                             42
BATTALION CHIEF, (FIRE DEPARTMENT)                    41
                                                    ...
ELECTRICAL TRANSIT MECHANIC, ASSISTANT SUPERVISOR      1
AUTOMOTIVE MECHANIC SUPERVISOR I                       1
DISTRICT ATTORNEY                                      1
SERGEANT II (POLICE DEPARTMENT)                        1
SENIOR DEPUTY SHERIFF                                  1
Name: count, Length: 113, dtype: int64

In [21]:
df2["JobTitle"].value_counts()[:5]

JobTitle
FIREFIGHTER                           133
LIEUTENANT, FIRE DEPARTMENT            62
FIRE FIGHTER PARAMEDIC                 43
CAPTAIN, FIRE SUPPRESSION              42
BATTALION CHIEF, (FIRE DEPARTMENT)     41
Name: count, dtype: int64